#about { 
 display: none;
 width: 350px;
 padding: 8px 11px;
 padding-top: 35px;
 position: absolute;
 top:200px;
 left: 0;

 height: 400px;
 background:#d1e0f8;
 z-index: 99999;
}
 
#mainpage {
    width: 9%;
    /* overflow: auto; */
    word-break: break-all;
    height: auto;
    display: block;
    /* background: #473d47 url(http://media02.hongkiat.com/jquery-sliding-navigation/bg.png); */
    min-height: 400px;
    /* overflow: hidden; */
    position: absolute;
    z-index: 2;
    color: #fff;
    left: 0px;
    top: 200px;
  
}
#mainpage nav { 
 position: absolute;
 width: 180px; 
 min-height: 100%;
 padding: 0px 8px;
 padding-top: 220px;
    background: #035996;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 14px 28px rgb(0, 188, 228), 0 10px;
}
#mainpage nav h1 {
 font-family: 'ABeeZee', 'Trebuchet MS', Arial, sans-serif;
 font-size: 2.85em;
 line-height: 1.3em;
 font-weight: bold;
 text-transform: uppercase;
 margin-bottom: 11px;
}
 
#navigation { list-style: none; }
#navigation li { display: block; margin-bottom: 2px; font-size: 1.4em; font-weight: bold; }
#navigation li a { display: block; padding: 8px 6px; width: 100%; color: #d1e0f8; text-decoration: none; }
#navigation li a:hover, #navigation li a.open { color: #fff; background: #484e57; }

/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }


/*#about { 
  display: block;
  width: 350px;
  background: #fff;
  padding: 10px 11px;
  padding-top: 35px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

#mainpage {
  width: 100%;
  height: auto;
  display: block;
  background: #473d47 url('images/bg.png');
  min-height: 800px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  color: #fff;
}

#mainpage nav { 
  position: absolute;
  width: 180px; 
  min-height: 100%;
  padding: 0px 8px;
  padding-top: 220px;
  background: #343638;
}
#mainpage nav h1 {
  font-family: 'ABeeZee', 'Trebuchet MS', Arial, sans-serif;
  font-size: 2.85em;
  line-height: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 11px;
}

#navigation {
  list-style: none;
}
#navigation li { display: block; margin-bottom: 2px; font-size: 1.4em; font-weight: bold; }
#navigation li a { display: block; padding: 8px 6px; width: 100%; color: #d1e0f8; text-decoration: none; }
#navigation li a:hover, #navigation li a.open { color: #fff; background: #484e57; }*/


#content {
  display: block;
  margin-left: 200px;
  padding: 10px 15px;

}

#content p {
  color: #fff;
  text-shadow: 2px 1px 0px rgba(0,0,0,0.7);
}


/* right navigation */
#aboutright { 
  display: block;
  width: 350px;
  padding: 8px 11px;
  padding-top: 35px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

nav#right { 
  position: absolute;
  width: 180px; 
  min-height: 100%;
  right: 0;
  padding: 0px 8px;
  padding-top: 220px;
  background: #343638;
}


/* top navigation */
#mainpage nav#top {
  position: absolute;
  height: 120px; 
  width: 100%;
  min-height: 120px;
  top: 0;
  text-align: center;
  padding: 20px 0px;
  background: #343638;
}

nav#top #navigation li {
  display: inline-block; 
  margin-right: 6px;
}


/* bottom navigation */
#mainpage nav#bottom {
  position: fixed;
  height: 120px; 
  width: 100%;
  min-height: 120px;
  bottom: 0;
  text-align: center;
  padding: 20px 0px;
  background: rgba(52,54,56,0.6);
}

nav#bottom #navigation li {
  display: inline-block; 
  margin-right: 6px;
}

.fixed-btm { padding-bottom: 120px; }
.h_iframe        {display:flexbox;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
/*.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}*/
    .h_iframe iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        display: flexbox;
        height: 100%;
    }
    .close{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20); 
    left: 177px;
    top: 10px;
    }
   
    @media only screen and (max-width:640px){
        #mainpage, #about{
            display:none;
        }

    }
    